.clock {
    width: 400px;
    background-color: rgb(57, 57, 57);
    padding: 30px;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
  }
   
  .clock .time {
    font-size: 64px;
    margin: 0 auto;
    color: rgb(226, 104, 60);
    font-weight: bold;
  }
   
  .clock .date {
    color: rgb(226, 104, 60);
    font-size: 24px;
    margin: 0 auto;
  }